@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0; 
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

p {
    margin: 0;
}
.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}


.imc-valor-resultado {
    /*
    The CSS Grid Layout Module offers a grid-based layout system, with rows and columns,
     making it easier to design web pages without having to use floats and positioning.
     
     A grid layout consists of a parent element, with one or more child elements.
     
     An HTML element becomes a grid container when its display property is set to grid or inline-grid.
     
     grid-template-columns: Specifies the size of the columns, and how many columns in a
     grid layout.
     */
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
}
.paragrafo-resultado {
    background: rgb(109, 255, 182);
    padding: 10px, 20px;

}

.bad {
    background: rgb(255, 150, 150);
    padding: 10px, 20px;
}
.info-imc {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
}